.lobby_tiles_container {
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  overflow: scroll;
}
.lobby_tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid darkslategrey;
  box-shadow: grey -1px 3px 12px; 
  background:  #ffff5a;
  opacity: 0.7;
  height: 120px;
  min-width: 175px;
  margin: 5px;
}
.lobby_tile > button {
  display: flex;
  margin-top: 15px;
  border-radius: 4px;
  background-color: black;
  padding: 5px;
  color: ghostwhite;
}
.room_name {
  font-weight: bold;
}