.reception-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.reception-container > div {
  width: 500px;
}
.columnA > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: grey -1px 3px 12px; 
  background: -webkit-linear-gradient(left top, cyan, yellow);
  background: -o-linear-gradient(bottom right, cyan, yellow);
  background: -moz-linear-gradient(bottom right, cyan, yellow); 
  background: linear-gradient(to bottom right, cyan, yellow);
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.columnB > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: grey -1px 3px 12px; 
  background: -webkit-linear-gradient(left top, cyan, yellow);
  background: -o-linear-gradient(bottom right, cyan, yellow);
  background: -moz-linear-gradient(bottom right, cyan, yellow); 
  background: linear-gradient(to bottom right, cyan, yellow);
  width: 750px;
  height: 500px;
  margin-top: 5px;
  margin-right: 15px;
  font-weight: bold;
}
.welcome {
  height:70px;
}
.credits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
.credits > div {
  margin: 15px;
}
.cred-title {
  font-size: 35px;
  font-weight: bold;
}
.true-author {
  font-weight: bold;
  width: 180px;
}
.rules {
  display: flex;
  flex-wrap: wrap;
  word-wrap: 
}
.rules-text {
  overflow-wrap: break-word;
}
span {
  font-weight: bold;
}
.author {
  font-size: 20px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}