.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center space-around;
  border-radius: 4px;
  border: 2px solid #ffff5a;
  box-shadow: grey -1px 3px 12px; 
  background: darkslategray;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin: 5px;
}
.lobby-container > div {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffff5a;
  box-shadow: grey -1px 3px 12px; 
  background: darkslategrey;
  border-radius: 2px;
  color: #ffff5a;
}
.column1 {
  padding-top: 8px;
  width: 360px;
  height: 100px;
}
.column2 {
  width: 360px;
  height: 250px;
  margin-bottom: 14px;
}
.leave-bttn {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #1b1b1b;
  color: ghostwhite;
  border-radius: 4px;
  padding: 8px;
}