.market-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.market-cards { 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  
  margin: 10px;
  background-color: lightblue;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  padding: 4px;
}
.deck-disc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: slateblue;
  color: white;
}
.cards:hover {
  background-color: lightseagreen;
}
.card-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  height: 30px;
}
.cost-logo {
  width: 25px; 
  height: 25px;
  margin-left: 3px;
  margin-right: 3px;
}
.card-title {
  display: flex;
  align-items: center;
  height: 35px;
  font-weight: bold;
  text-align: center;
}
.card-ability {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 125px;
  text-align: center;
  font-size: 12px;
}
.card-type {
  display: flex;
  justify-content: center space-around;
  align-items: center;
  background-color: orange;
  border-radius: 5px;
  border-bottom: 2px solid darkorange;
  border-right: 2px solid darkorange;
  color: white;
  text-align: center;
  width: 75px;
  height: 35px;
}
#reset-bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  height: 75px;
  width: 75px;
  background-color: lightseagreen;
}
.in-bttn {
  display: flex;
  flex-direction: column;
}
.in-bttn > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#reset-bttn:hover {
  background-color: lightgreen;
}


