.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  /*border: 1px solid red;*/
}
.new_game_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  box-shadow: grey -1px 3px 12px; 
  background: darkslategrey;
  opacity: 0.9;
  width: 900px;
  height: 115px;
  margin: 5px;
}
.new-game-input {
  padding: 12px;
  font-size: 30px;
  border-radius: 4px;
}
.create-game-bttn {
  background-color: #1b1b1b;
  color: ghostwhite;
  border-radius: 4px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}