.start-bttn {
  background-color: #1b1b1b;
  color: ghostwhite;
  border-radius: 4px;
  padding: 8px;
}.gameContainer {
    display: flex;
    position: relative; 
}

#win {
  /*background-color: purple;*/
  pointer-events: none;
  overflow: hidden;
  background: transparent;
  z-index: 99999999999999999;
  display: flex; 
  position: absolute;
  top: 0%;
  left: 0%; 
}

.win {
  pointer-events: none; 
}


